{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-lg-12">
    <div id="signup_div">
        <h3>Register music lover</h3>
        <div id="signup_fields_div">
            </br>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
                'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.email) }}
            {{ form_row(form.fullName) }}
            {{ form_row(form.plainPassword) }}
        </div>

        <div id="submit_input_div">
            <input  class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
</div>
</div>