{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

<div class="col-lg-8">
    <div class="col-md-offset-5" id="signup_div">
        <div id="signup_fields_div">
        <h3>Register music lover</h3>
            </br>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
                'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.email) }}
            {{ form_row(form.fullName) }}
            {{ form_row(form.plainPassword) }}
        </div>

            <input id="_submit" type="submit"  class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
        {{ form_end(form) }}
    </div>
</div>