{% extends 'base.html.twig' %}

{% block body %}


<div class="wrapper">
    <div class="row" style="background-color: #ffffff">
        <h1 style="text-align: center">Album title: {{ album.title }}</h1>
        <div class="col-sm-6">
            <div style="text-align: center">
                <img src="{{ asset('public/uploads_directory/' ~ album.image ) }}">
                <h3><b>Summary:</b></h3>
                <p><b>Artist:</b> {{ album.artist }} </p>
                <p><b>ISRC:</b> {{ album.isrc }} </p>
            </div>
        </div>
        <div class="col-sm-6" style="text-align: center">
            <ol>
                {% for track in album.albumTracks %}
                    <li>{{ track.trackName }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="background-color: #ffffff; margin-top: 20px; border-radius: 10px">
            <div class="row col-md-9 col-sm-10 col-xs-12">
                {% for review in reviews %}
                    <article>
                        <h3 class="row col-xs-12">
                            {{ review.title }}
                        </h3>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h4> Created at {{ review.timestamp | date('H:i d/m/y') }} </h4>
                                    {{ review.rating|rating(5, 'fa-star') }}
                            </div>
                            <div class="col-sm-6" style="text-align: center">
                                {% if (is_granted('ROLE_USER') and review.reviewer == app.user)
                                    or is_granted('ROLE_ADMIN') %}
                                        <div class="col-sm-3">
                                            <a href="{{ path('edit_review', {id: review.id}) }}">
                                                <button type="button" id="register_button">
                                                    Edit review
                                                </button>
                                            </a>
                                        </div>
                                {% endif %}
                                        <div class="col-sm-3" style="text-align: center">
                                            {% if is_granted('ROLE_ADMIN') or review.reviewer == app.user %}
                                            <a href="{{ path('delete_review', {id: review.id}) }}">
                                                <button class="btn btn-danger" id="register_button">
                                                    Delete review
                                                </button>
                                            </a>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <a href="{{ path('add_review', {id: album.id}) }}">
            <button type="button" id="register_button">
                Add Review
            </button>
        </a>
    </div>
</div>


{#    <article>#}
{#        <div class="row">#}
{#            <div class="col-xs-6" style="text-align: center">#}
{#                <img src="{{ asset('public/uploads_directory/' ~ album.image ) }}">#}
{#            </div>#}
{#            {% if is_granted('ROLE_USER') %}#}
{#                <div class="col-xs-6">#}
{#                    <a href="{{ path('add_review', {id: album.id}) }}">#}
{#                        <button class="btn btn-success">Add review</button>#}
{#                    </a>#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="col-xs-6">#}
{#            {{ rating|rating(5, 'fa-star') }}#}
{#        </div>#}

{#        <h3 class="row col-xs-12">#}
{#            {{ album.title }}#}
{#        </h3>#}
{#        <small class="row col-xs-12">#}
{#            <b>by {{ album.artist }}</b>#}
{#        </small>#}
{#        <div class="row col-xs-12"><hr></div>#}
{#    </article>#}

{#    <div class="row col-md-9 col-sm-10 col-xs-12">#}
{#        {% for review in reviews %}#}
{#            <article>#}
{#                <h3 class="row col-xs-12">#}
{#                    {{ review.title }}#}
{#                </h3>#}
{#                <div class="row">#}
{#                    <div class="col-xs-6">#}
{#                        <h4>Created at {{ review.timestamp | date('H:i d/m/y') }} </h4>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-xs-6">#}
{#                            {{ review.rating|rating(5, 'fa-star') }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-xs-6">#}
{#                        {% if (is_granted('ROLE_USER') and review.reviewer == app.user)#}
{#                            or is_granted('ROLE_ADMIN') %}#}
{#                            <div class="row">#}
{#                                <div class="col-xs-6">#}
{#                                    <a href="{{ path('edit_review', {id: review.id}) }}">#}
{#                                        <input type="button" id="edit_album_btn">Edit review</input>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_ADMIN') or review.reviewer == app.user %}#}
{#                            <div class="row">#}
{#                                <div class="col-xs-6">#}
{#                                    <a href="{{ path('delete_review', {id: review.id}) }}">#}
{#                                        <button class="btn btn-danger">Delete review</button>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}

{#                <div class="row col-xs-12"><hr></div>#}
{#            </article>#}
{#        {% endfor %}#}
{#    </div>#}


{% endblock %}

