{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %} Add Album {% endblock %}

{% block body %}

    <div class="col-sm-12">
        <div class="col-md-offset-0" id="create_first_div">
            <div id="title_and_image_div">
            <h1>
                Add You Favourite Album
            </h1>
            </div>
            <div id="form_div">
                {{ form_start(form) }}
                <p class="align_add_review_label">
                    <b>Album Title</b>
                </p>
                <p id="create_property">{{ form_widget(form.title) }}</p>
                <p class="align_add_review_label">
                    <b>Artist</b>
                </p>
                <p id="create_property">{{ form_widget(form.artist) }}</p>
                <p class="align_add_review_label">
                    <b>ISRC</b>
                </p>
                <p id="create_property">{{ form_widget(form.isrc) }}</p>
                <p>
                    <b>Album Image</b>
                </p>
                <p id="create_property">{{ form_widget(form.image, {
                            attr: {
                            placeholder: 'select',
                            class: 'btn btn success'
                        }
                        })
                    }}
                </p>
                <p class="align_add_review_label">
                    <b>Tracks</b>
                </p>
                <div id="create_property">
                    <ol class="track"
                        data-prototype="{{ form_widget(form.albumTracks.vars.prototype)|e('html_attr') }}">
                        {% for track in form.albumTracks %}
                            <p class="align_add_review_label">{{ form_row(track) }}</p>
                        {% endfor %}
                    </ol>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
