{% extends '::base.html.twig' %}

{% block sidebar %}
    Sidebar content
{% endblock %}

{% block body %}

    <div class="row navigation text-center col-md-9 col-sm-12 col-xs-12">
        {{ knp_pagination_render(albums) }}
    </div>

    <div class="row col-md-12 col-sm-12 col-xs-12">
        {% for album in albums %}

            <article>
                <h4 class="row col-xs-12">
                    {{ album.title }}
                </h4>

                <small class="row col-xs-12">
                    <b>by {{ album.artist }}</b>
                </small>
                <div class="row">
                    <div class="col-xs-6">
                        {{ rating[album.id]|rating(5, "fa fa-star") }}
                    </div>
                </div>

            </article>

        {% endfor %}
    </div>

    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
        {{ knp_pagination_render(albums) }}
    </div>

{% endblock %}