{% extends '::base.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}

    <div class="wrapper">
        {% if error is defined %}
            <div class="center-div">
                Error: {{ error }}. Try again.
            </div>
        {% else %}

        <div class="col-xs-12 col-md-12">
                {% if albums is empty%}
                    <div class="center-div">
                        No Albums found
                    </div>
                {% else %}
                {% for album in albums %}
                    <tbody id="album_object_tbody">
                    <div id="albumSet">
                        <div class="row" style="height: 75%">
                            {% if album.url is not null %}
                                <img src="{{ asset(album.image) }}" alt="{{ album.image }}"/>
                            {% else %}
                                <img src="{{ asset('public/uploads_directory/' ~ album.image ) }}" alt="{{ album.image }}"/>
                            {% endif %}
                            <p><b>Title:</b> {{ album.title }}</p>
                            <p><b>Author:</b> {{ album.artist }}</p>
                        </div>
                        <div>
                            <p><b>Rating:</b> {{ rating[album.id]|rating(5, "fa-star") }}</p>
                            <p style="vertical-align: bottom;"><a class="btn" id="_submit"
                                                                  href="{{ path('view_reviews_by_album', {id: album.id}) }}"
                                                                  role="button">See Reviews</a>
                                </a>
                            </p>
                        </div>
                    </div>
                    </tbody>
                {% endfor %}
                    <div class="row navigation text-center col-md-9 col-sm-10 col-xs-12">
                        {{ knp_pagination_render(albums) }}
                    </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

{% endblock %}