{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper">
        <div class="row" style="background-color: #ffffff">
            <h1>Album title: {{ album.title|capitalize }}</h1>
            <div class="col-sm-6">
                <div style="text-align: center;">
                    <img style="border-radius: 30px" src="{{ asset('public/uploads_directory/' ~ album.image ) }}">
                    <p><b>Artist: </b> {{ album.artist|capitalize }} </p>
                    <p><b>ISRC: </b> {{ album.isrc }} </p>
                    <p><b>Listeners: </b> {{ album.listeners|number_format(0, '.', ',') }} </p>
                    <p><b>Play Count: </b> {{ album.playcount|number_format(0, '.', ',') }} </p>
                    <p><b>Tags: </b> {{ album.tags }} </p>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: center">
                <p><b>Track List:</b></p>
                <ol>
                    {% for track in album.albumTracks %}
                        {% if track.duration > 0 %}
                            <li>{{ track.trackName|capitalize }} - {{ track.duration }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <div class="col-sm-12 col-lg-12">
                <h3 style="margin: 20px; text-indent: 2em; text-align: justify;"><b>Summary:</b></h3>
                <p style="margin: 20px; text-indent: 2em; text-align: justify;">{{ album.summary|capitalize }}</p>
            </div>

            {% if similarArtists is defined %}
                <div class="row">
                    <div class="col-sm-12">
                        {% for similarArtist in similarArtists %}
                            <div class="col-sm-4" style="text-align: center">
                                <p><b>Artist Name: </b> {{ similarArtist.name }} </p>
                                <p style="margin: 10px; text-align: center;"><a href="{{ similarArtist.url }}">View Artist</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>

        {% if reviews is defined %}
        <div class="row">
            {% for review in reviews %}
                <div class="col-sm-12" id="reviewsBackground">
                    <article>
                        <div class="col-sm-12 col-lg-12">
                            <div class="col-lg-12" style="text-align: center">
                                <p><b>{{ review.title }}</b></p>
                                <p>{{ review.rating|rating(5, 'fa-star') }}</p>
                                <h4> Added by <i>{{ review.reviewer.fullName }}</i> on <i>{{ review.timestamp | date('H:i d/m/y') }}</i> </h4>
                            </div>
                        <div class="col-sm-12 col-lg-12">
                            <p style="word-break: break-all; margin: 20px; text-indent: 2em; text-align: justify;">{{ review.review }}</p>
                        </div>

                        </div>
                        <div class="col-sm-12 col-lg-12" style="margin-bottom: 20px">
                            <div class="col-sm-3 col-lg-8">
                                <a href="{{ path('view_review', {id: review.id}) }}">
                                    <button class="btn btn-danger" id="register_button">
                                        View review
                                    </button>
                                </a>
                            </div>
                            {% if (is_granted('ROLE_USER') and review.reviewer == app.user)
                                or is_granted('ROLE_ADMIN') %}
                                <div class="col-sm-3 col-lg-2">
                                    <a href="{{ path('edit_review', {id: review.id}) }}">
                                        <button type="button" id="register_button">
                                            Edit review
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                                {% if is_granted('ROLE_ADMIN') or review.reviewer == app.user %}
                                    <div class="col-sm-3 col-lg-2">
                                        <a href="{{ path('delete_review', {id: review.id}) }}">
                                            <button class="btn btn-danger" id="_reusable_danger">
                                                Delete review
                                            </button>
                                        </a>
                                    </div>
                                {% endif %}
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>

        {% endif %}

        {%  if ( is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') ) %}
        <div class="col-sm-12 col-lg-12" style="text-align: center">
            <a href="{{ path('add_review', {id: album.id}) }}">
                <button type="button" id="register_button">
                    Add Review
                </button>
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}

