{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper">
        <div class="row" style="background-color: #ffffff">
            <h1>Album title: {{ album.title|capitalize }}</h1>
            <div class="col-sm-6">
                <div style="text-align: center;">
                    <img style="border-radius: 30px" src="{{ asset( album.image ) }}">
                    <p><b>Artist: </b> {{ album.artist|capitalize }} </p>
                    <p><b>ISRC: </b> {{ album.isrc }} </p>
                    <p><b>Listeners: </b> {{ album.listeners|number_format(0, '.', ',') }} </p>
                    <p><b>Play Count: </b> {{ album.playcount|number_format(0, '.', ',') }} </p>
                    <p><b>Tags: </b> {{ album.tags }} </p>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: center">
                {% if tracks is defined %}
                <p><b>Track List:</b></p>
                <ol>
                    {% for track in tracks %}
                        {% if track.duration > 0 %}
                            <li>{{ track.trackName|capitalize }} - {{ track.duration }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
            {% if album.url is defined %}
            <div class="col-sm-12 col-lg-12" style="text-align: center">
                <p style="margin: 30px; text-align: center;"><a href="{{ album.url }}">Check link for more details</a></p>
            </div>
            {% endif %}

            {% if similarArtists is defined %}
            <div class="row">
                <div class="col-sm-12">
                    {% for similarArtist in similarArtists %}
                        <div class="col-sm-4" style="text-align: center">
                            <p><b>Artist Name: </b> {{ similarArtist.name }} </p>
                            <p style="margin: 10px; text-align: center;"><a href="{{ similarArtist.url }}">View Artist</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

    </div>

        {%  if ( is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') ) %}
            <div class="col-sm-12 col-lg-12" style="text-align: center">
                {#            <a href="{{ path('add_review', {id: album.id}) }}">#}
                <button type="button" id="register_button">
                    Save Album
                </button>
                {#            </a>#}
            </div>
        {% endif %}

{% endblock %}

